# Lokale omgeving (secrets)
.env
.env.testdata

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# lokale testreports
*.report.html

# Gegenereerde website-build
/dist/

# Lokale Lighthouse-resultaten
/.lighthouseci/
