<link rel="stylesheet" href="../css/style.css">

<nav class="main-nav">
<div class="nav-container">

<div class="logo">
<a href="../index.html">Spontaan</a>
</div>

<ul class="nav-menu">

<li><a href="../index.html">Home</a></li>
<li><a href="../pages/over.html">Over Spontaan</a></li>
<li><a href="../pages/agenda.html">Agenda</a></li>
<li><a href="../pages/media.html">Beeld en Geluid</a></li>
<li><a href="../pages/repertoire.html">Muziek en repertoire</a></li>
<li><a href="../pages/historie.html">Korte historie</a></li>
<li><a href="../pages/vrienden.html">Vrienden van Spontaan</a></li>
<li><a href="../pages/links.html">Links</a></li>
<li><a href="../pages/contact.html">Contact</a></li>
<li><a href="../leden/login.html">Leden</a></li>

</ul>

</div>
</nav>